<div><%= @calendar._year%></div>
<div>
  <ul class="calendar_menu_months">
    <li><%= link_to @calendar._today.months_ago(1).strftime('%m').to_i, calendar_month_path(:month => @calendar._month-1, :year => @calendar._year)%></li>
    <li><%= link_to @calendar._today.month, calendar_month_path(:month => @calendar._month, :year => @calendar._year)%></li>
    <li><%= link_to @calendar._today.months_since(1).strftime('%m').to_i, calendar_month_path(:month => @calendar._month+1, :year => @calendar._year)%></li>
  </ul>
</div>

<div>
  <ul class="display_week">
    <% (@calendar.start_of_previous_week..@calendar.start_of_week-1).each do |date| %>
        <li>
          <%= link_to date.strftime('%e'), appointments_path(:date => date)%>
        </li>
    <%end %>
  </ul>
</div>

<div>
  <ul class="display_week">
  <% (@calendar.start_of_week..@calendar.end_of_week).each do |date| %>
        <li class="<%= 'current_day' if date.today? %>">
          <%= link_to date.strftime('%e'), appointments_path(:date => date)%>
        </li>
  <%end %>
  </ul>
</div>


<div>
  <ul class="display_week">
    <% (@calendar.start_of_next_week..@calendar.end_of_next_week).each do |date| %>
        <li>
          <%= link_to date.strftime('%e'), appointments_path(:date => date)%>
        </li>
    <%end %>
  </ul>
</div>
<%
i =1
while i <= @presenter.calendar.days_in_month  do %>
  <!--<div style="width:50px;height:150px; border-right:solid 1px green;float:left;"><%= i%></div>-->
<%i +=1
end
%>

<%@presenter.calendar_hash.each do |key, value|
    appointments = value.map{ |a| a }%>
    <div style="width:50px;height:150px; border-right:solid 1px green;float:left;"><%= key%>
      <%if value.any?%>
          <div style="width:100%;">
            <%row_flag = 1%>
            <%appointments.each_with_index do |appointment, index|%>
                <%if row_flag == 1%>
                 <div style="width:100%;height:29px;margin:0 0 4px 0;clear:both;">
                <%end%>
                  <div style="width:12px; float:left; border:solid 1px red;margin:0 4px 0 0;">
                    x
                  </div>
                  <%if row_flag == 2
                    row_flag = 0
                  %>
                    </div>
                  <%end%>
                  <%row_flag +=1%>
            <%end%>
            <%if row_flag == 2%>
            </div>
            <%end%>
          </div>
      <%else%>
          <div></div>
      <%end%>
    </div>
<%end%>

<%@presenter.calendar_hash.each do |key, value|
  appointments = value.map{ |a| a }%>
    <div style="width:50px;height:150px; border-right:solid 1px green;float:left;"><%= key%>
      <%if value.any?%>
         <%=appointments%>
      <%else%>
          <div></div>
      <%end%>
      </div>
<%end%>

