
<div>
  <ul class="calendar_menu_months">
    <li><%= link_to @calendar._today.months_ago(1).strftime('%m').to_i, calendar_month_path(:month => @calendar._month-1, :year => @calendar._year)%></li>
    <li><%= link_to @calendar._today.month, calendar_month_path(:month => @calendar._month, :year => @calendar._year)%></li>
    <li><%= link_to @calendar._today.months_since(1).strftime('%m').to_i, calendar_month_path(:month => @calendar._month+1, :year => @calendar._year)%></li>
  </ul>
</div>

<div>
  <ul class="display_week">
    <% (@calendar.start_of_previous_week..@calendar.start_of_week-1).each do |date| %>
        <li>
          <%= link_to date.strftime('%e'), appointments_path(:date => date)%>
        </li>
    <%end %>
  </ul>
</div>

<div>
  <ul class="display_week">
  <% (@calendar.start_of_week..@calendar.end_of_week).each do |date| %>
        <li class="<%= 'current_day' if date.today? %>">
          <%= link_to date.strftime('%e'), appointments_path(:date => date)%>
        </li>
  <%end %>
  </ul>
</div>


<div>
  <ul class="display_week">
    <% (@calendar.start_of_next_week..@calendar.end_of_next_week).each do |date| %>
        <li>
          <%= link_to date.strftime('%e'), appointments_path(:date => date)%>
        </li>
    <%end %>
  </ul>
</div>

<div class="calendar-header">
  <%= @presenter.calendar.today.strftime('%B, %Y')%>
</div>
<div class="calendar">
  <div class="calendar-container">
  <%
     i =1
     while i <= @presenter.calendar.days_in_month  do %>
      <div class="calendar-day">
        <div style="width:100%;height:60px;">
          <%= link_to appointments_path()  do%>
          <div class="calendar-date box"><span><%=i%></span></div>
          <%end%>
        </div>
        <%if @presenter.calendar_hash[i.to_s].any?
            appointments = @presenter.calendar_hash[i.to_s].map{ |a| a }
            appointments.each_with_index do |appointment, index|%>
                <div class="calendar-day-event box"></div>
            <%end%>
        <%else%>
        <%end%>
      </div>
  <%i +=1
    end
  %>
  </div>

</div>

