<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% if flash[:notice] %>
        <p id="notice"><%= flash[:notice] %></p>
    <% end %>
  <div class="field">
    <%= f.label 'Provider' %><br />
    <%= f.text_field :user, :value => @appointment.get_username, :disabled => 'disabled',:class => 'topcoat-text-input'%>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time, :value =>{:hour => @appointment.start_time.strftime('%H'), :minute =>@appointment.start_time.strftime('%M')}, :default => @appointment.start_time.strftime('%H'),:minute_step => 15  %>

  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time, :value => {:hour => @appointment.end_time.strftime('%H'), :minute => @appointment.end_time.strftime('%M')}, :default => @appointment.end_time,:minute_step => 15%>
  </div>
  <div class="actions">
    <%= f.hidden_field :user_id, :value => @appointment.user_id%>
    <%= f.submit %>
  </div>

<% end %>
