<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Provider' %><br />
    <%= f.text_field :user, :value => @user.full_name, :disabled => 'disabled',:class => 'topcoat-text-input'%>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time, :prompt =>{:hour => @start.strftime('%H'), :minute => @start.strftime('%M') ,:minute_step => 15}  %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time, :prompt => {:hour => (@start+1.hour).strftime('%H'), :minute => @start.strftime('%M') ,:minute_step => 15} %>
  </div>
  <div class="actions">
    <%= f.hidden_field :user_id, :value => @user.id%>
    <%= f.submit %>
  </div>

<% end %>
