<h1>Listing appointments</h1>
<div style="width:100%;height:100%;">
  <div class="grid-date">
    <div style="float:left;width:10%;"></div>
    <div style="float:right;width:90%;" class="grid-date-header">
      <span><%= @presenter.today.strftime('%A, %B %e')%></span>
    </div>
  </div>
  <div class="grid-event-header">
    <div style="float:left;width:10%;"></div>
    <div style="float:right;width:90%;border-left:solid 2px #cccfcf;">
      <ol>
        <%half_past = 1%>
        <%(@presenter.store.open_integer..@presenter.store.close_integer-1).step(30.minutes).each do |hour|%>
            <%if half_past%2 != 0%>
                <li class="event-item-header"> <div class="event-header"><%=Time.at(hour).strftime('%I').to_i%>&nbsp;<%=Time.at(hour).strftime('%P')%></div></li>
                <%half_past = 2%>
            <%else%>
                <li class="event-item-header"><div class="event-header">&nbsp;</div></li>
                <%half_past = 1%>
            <%end%>
        <%end%>
      </ol>
    </div>
  </div>
  <%@presenter.users.each do |user|%>
      <div class="grid-events-container">
        <div style="float:left;width:10%;"><%=user.full_name%></div>
        <div style="float:right;width:90%;position:relative;">
          <ol>
            <%left_distance = 0%>
            <%myTime = @presenter.store.open_integer%>
             <%until myTime == @presenter.store.close_integer do%>
                <%do_next = true%>
                <%step_time = 15.minutes%>
                    <%user.appointments.today(@presenter.today).each do |appointment|%>
                        <%if Time.at(myTime).strftime('%H:%M').to_str == appointment.start_time.strftime('%H:%M').to_str%>
                            <li style="position:absolute; left:<%=left_distance.to_s%>px; width:<%=appointment.cell_width%>px;">
                               <div class="event-booked">
                                 <%= link_to 'edit', edit_appointment_path(appointment)%>
                                 <%= link_to('Delete', appointment, :method => :delete, :class => 'action',:confirm => 'Are you sure? This action cannot be undone.') %>
                               </div>
                            </li>
                            <%left_distance += appointment.cell_width.to_i %>
                            <%do_next = false%>
                            <%step_time = appointment.duration.minute%>
                        <%end%>
                    <%end%>
                    <%if do_next%>
                        <li style="position:absolute; left:<%=left_distance.to_s%>px; width:29px;"><div class="event-empty"> <%= link_to new_appointment_path(:user_id => user.id,:start_time => Time.at(myTime).strftime('%H:%M').to_str, :date => @presenter.today) do%><span style="height:65px; width:29px;"></span><%end%></div></li>
                        <%left_distance += 31%>
                    <%end%>
                <%myTime += step_time%>
             <%end%>
          </ol>

        </div>
      </div>
  <%end%>
</div>



http://lanyrd.com/2013/railsisrael/schedule/?day=oct-09&view=grid




